{% extends "webpage/base.html" %}
{% load static %}
{% load django_tables2 %}
{% load browsing_extras %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block title %} Browse {{ class_name }} {% endblock %}
{% block scriptHeader %}

{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ verbose_name_plural }}</li>
    </ol>
</nav>
<div class="container">
    <h1 class="text-center">{{ object_list|length }} {{ verbose_name_plural }}</h1>

    {% for key, value in authors_by_legal.items %}
    <h2>{{ key }}</h2>
    <ul>
        {% for x in value %}
        <li>{{ x.name }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

{% endblock %}