{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% block title %} Browse {{ verbose_name_plural }} {% endblock %}
{% block scriptHeader %}

{% endblock %}
{% block content %}
{% include 'archiv/partials/listview_breadcrumb.html' %}
<div class="container-fluid">
    <div>
        <div class="row">
            <div class="col-md-3">
                <div>
                    {% block create_button %}{% endblock %}
                    {% load django_tables2 crispy_forms_tags %}
                    <form action="." class="uniForm" method="get">
                        {% crispy filter.form filter.form.helper %}
                        {% include 'archiv/partials/column_selector.html' %}
                        <div class="pt-2">
                            <a class="btn btn-primary" href=".">Reset</a>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9" >
                <div class="text-center">
                    <h1 class="text-center" id="results">
                        {{table.paginator.count }} search results
                        {% if user.is_authenticated %}
                            {% if create_view_link %}
                            <br>
                                <a class="btn btn-primary float-center ms-5 me-5" href="{{ create_view_link }}">Create new {{ verbose_name }}</a>
                            {% endif %}
                        {% endif %}
                    </h1>
                </div>
                <div>
                    {% block table %}
                    {% include 'browsing/partials/table.html' %}
                    {% endblock table %}
                    {% block pagination.allpages %}
                    {% include 'browsing/partials/pagination.html' %}
                    {% endblock pagination.allpages %}
                    <div class="float-end">
                        {% include "browsing/partials/download_menu.html" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% include 'archiv/partials/info_modal.html' %}



{% endblock %}
{% block scripts2 %}
<!-- <script src="{% static 'browsing/js/set-form-attributes.js' %}"></script> -->
<script src="{% static 'browsing/js/filter-for-blank-fields.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Add #results anchor to URL if there are query parameters
        if (window.location.search && !window.location.hash) {
            window.location.hash = 'results';
        }
    });
</script>
{% endblock scripts2 %}