{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}
<div class="courtdecissioncart" data-bs-spy="scroll" data-bs-target="#toc">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <details class="d-md-none mb-3 toc-details">
                    <summary>Table of Contents</summary>
                    <nav id="toc" data-toggle="toc" class="sticky-top" title="page navigation"></nav>
                </details>
                <nav id="toc" data-toggle="toc" class="sticky-top d-none d-md-block" title="page navigation"></nav>
            </div>
            <div class="col-md-8">
                <h1>{{ object }} {% if user.is_authenticated %}
                    <small>
                        <a href="{{ object.get_edit_url }}">
                            <i class="bi bi-pencil-square" title="edit entry"></i>
                        </a>
                    </small>
                    {% endif %}</h1>
                <h2 class="visually-hidden" id="info">Case info</h2>
                <table class="table">

                    <tbody>
                        <tr>
                            <th>Legal system</th>
                            <td>
                                <a href="{{ object.partial_legal_system.get_absolute_url }}">
                                    {{ object.partial_legal_system }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Court</th>
                            <td>
                                <a href="{{ object.court.get_absolute_url }}">
                                    {% if object.court.is_high_court %}
            <img src="{% static 'webpage/images/crown.gif' %}" class="highCourtImage" alt="Highest court">
            {% endif %}
                                    {{ object.court }} {% if object.court.name_english %}({{ object.court.name_english }}){% endif %}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Decision date</th>
                            <td>
                                {% if object.decission_date %}
                                    {{ object.decission_date }} {% else %} not data provided
                                {% endif %}
                            </td>
                        </tr>
                        {% if object.ecli %}
                        <tr>
                            <th title="European Case Law Identifier">ECLI</th>
                            <td>{{ object.ecli }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Eurotort number</th>
                            <td>{{ object.id }}</td>
                        </tr>
                        {% if object.keyword.all %}
                            <tr>
                                <th>Keywords</th>
                                <td>
                                    {% for x in object.keyword.all %}
                                        <span class="badge rounded-pill text-bg-primary">
                                            <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if object.tag.all %}
                            <tr>
                                <th>Tags</th>
                                <td>
                                    {% for x in object.tag.all %}
                                        <span class="badge rounded-pill text-bg-success">
                                            <a href="{{ x.get_absolute_url }}">{{ x.tag }}</a>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if object.related_decision.all %}
                            <tr>
                                <th>Related Cases</th>
                                <td>
                                    {% for x in object.related_decision.all %}
                                        <span class="badge rounded-pill text-bg-warning">
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <h3>Facts</h3>
                <p>{{ object.situation|safe }}</p>
                <h3>Decision</h3>
                <p>{{ object.motto|safe }}</p>
                <h3>Commentary</h3>
                {% if object.commentary %}
                <p>{{ object.commentary|safe }}</p>
                {% else %}
                <p>A commentary is included in the original publication 
                    <a href="{{ object.year_book_title.get_absolute_url }}">
                        {{ object.year_book_title }}{% if object.year_book_title.part_of %} ({{ object.year_book_title.part_of }}){% endif %}</a>. {% if object.year_book_title.part_of.doi %} <a href="{{ object.year_book_title.part_of.doi }}">Get access</a>{% endif %}
                </p>
                {% endif %}
                {% if object.additional_information %}
                <h3>Additional information</h3>
                <p>{{ object.additional_information|safe }}</p>
                {% endif %}
                {% if object.location %}
                <h3>Reported in</h3>
                <p>{{ object.location|safe }}</p>
                {% endif %}
                <hr>
                <h2>Subject matter</h2>
                <p>{{ object.short_description }}</p>
                <h2>Authors</h2>
                {% for x in object.author.all %}
                <p><a href="{{ x.get_absolute_url }}">{{ x }}</a></p>
                {% endfor %}

                <h2>Bibliographic source</h2>
                <p><a href="{{ object.year_book_title.get_absolute_url }}">{{ object.year_book_title}}</a>{% if object.year_book_title.part_of %}, in: {{ object.year_book_title.part_of }}{% endif %}{% if object.year_book_issue %}, {{ object.year_book_issue }}{% endif %}.</p>
                <h2>Eurotort reference</h2>
                <p>Eurotort no. {{ object.id }}</p>
                <small>updated: {{ object.modified_date }}</small>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div>
        <div class="float-end">
            <a href="{{ object.get_delete_url }}">
                <i class="bi bi-trash3" title="delete entry"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
