{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
<div class="container">

    <h2 class="pb-2 pt-2 fs-4">Name</h2>
    <p class="ps-5">{% if object.is_high_court %}
        Highest Court,
        {% endif %}
        {{ object }}
        {% if object.name_english %}
        ({{ object.name_english }})
        {% endif %}
    </p>
    <h2 class="pb-2 pt-2 fs-4">Legal system</h2>
    <p class="ps-5">
        <a href="{{ object.partial_legal_system.get_absolute_url }}">{{ object.partial_legal_system }}</a>
    </p>

    {% with courtdecissions=object.rvn_courtdecission_court_court %}
    <h2 class="pb-2 pt-2 fs-4">{{ courtdecissions.count }} decided cases</h2>
    {% include 'archiv/partials/case_dl.html' %}
    {% endwith %}



    {% if user.is_authenticated %}

    <div class="float-end">
        <a href="{{ object.get_delete_url }}">
            <i class="bi bi-trash3" title="delete entry"></i>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}