{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
{% include 'archiv/partials/detailview_breadcrumb.html' %}
<div class="card courtdecissioncart" data-bs-spy="scroll" data-bs-target="#toc">
    <div class="card-header">
        {% include 'archiv/partials/detailview_title.html' %}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
            </div>
            <div class="col-md-10" id="contentToPrint">
                <h2">{{ object }}</h2>
                    <div class="d-flex justify-content-center" >
                        <i class="bi bi-filetype-pdf"  onclick="Convert_HTML_To_PDF();"
                            title="print as pdf" id="pdfbutton"></i>
                    </div>
                    <div  class="d-flex justify-content-center" >
                        <div class="spinner-border" role="status" id="pdfspinner" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                <table class="table">
                    
                    <tbody>
                        <tr>
                            <th>Court</th>
                            <td>{{ object.court }} <a href="{{ object.court.get_absolute_url }}"><i
                                        class="bi bi-link-45deg"></i></a></td>
                        <tr>
                            <th>Date of Decision</th>
                            <td>{{ object.decission_date }}</td>
                        </tr>
                        <tr>
                            <th>Case Number</th>
                            <td>{{ object.file_number }}</td>
                        </tr>
                        {% if object.party %}
                        <tr>
                            <th>Case name</th>
                            <td>{{ object.party }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <dl>
                    <dt>Eurotort number</dt>
                    <dd class="ms-5">{{ object.id }}</dd>
                    <dt>Publication link</dt>
                    <dd class="ms-5"><a href="{{ object.year_book_title.get_absolute_url }}"><i
                                class="bi bi-link-45deg"></i></a>{{ object.year_book_title}} {{ object.year_book_issue }}</dd>
                    <dt>Keywords</dt>
                    {% for x in object.keyword.all %}
                    <dd class="ms-5"><span class="badge rounded-pill text-bg-primary ">{{ x }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}
                    <dt>Tags</dt>
                    {% for x in object.tag.all %}
                    <dd class="ms-5"><span class="badge rounded-pill text-bg-success ">{{ x }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}
                    <dt>Related Cases</dt>
                    {% for x in object.related_decision.all %}
                    <dd class="ms-5"><span class="badge rounded-pill text-bg-warning ">{{ x }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}
                </dl>
                <h2>The Case</h2>
                <h3>Brief Description</h3>
                <p>{{ object.short_description|safe }}</p>
                <h3>Additional information </h3>
                <p>{{ object.situation|safe }}</p>
                <h3>Motto</h3>
                <p>{{ object.motto|safe }}</p>
                <h3>Commentary</h3>
                <p>{{ object.commentary|safe }}</p>
                <h3>Additional Information</h3>
                <p>{{ object.additional_information|safe }}</p>
                <hr>
                <h2>Authors</h2>
                {% for x in object.author.all %}
                <p>{{ x }} <a href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></p>
                {% endfor %}
                <small>updated: {{ object.modified_date }}</small>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer">
        <div class="float-end">
            <a href="{{ object.get_delete_url }}">
                <i class="bi bi-trash3" title="delete entry"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts2 %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>

    // Convert HTML content to PDF
    window.jsPDF = window.jspdf.jsPDF;
    function Convert_HTML_To_PDF() {
        $("#pdfspinner").css("display", "block")
        $("#pdfbutton").css("display", "none")
        var doc = new jsPDF();

        // Source HTMLElement or a string containing HTML.
        var elementHTML = document.querySelector("#contentToPrint");

        doc.html(elementHTML, {
            callback: function (doc) {
                doc.save('eurotort-doc-{{ object.id}}.pdf');
                $("#pdfspinner").css("display", "none")
                $("#pdfbutton").css("display", "block")
            },
            fontSize: 6,
            autoSize: true,
            margin: [10, 10, 10, 10],
            autoPaging: 'text',
            x: 0,
            y: 0,
            width: 190, //target width in the PDF document
            windowWidth: 675 //window width in CSS pixels
        });
    }
</script>

{% endblock scripts2 %}