{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
{% include 'archiv/partials/detailview_breadcrumb.html' %}
<div class="card courtdecissioncart" data-bs-spy="scroll" data-bs-target="#toc">

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
            </div>
            <div class="col-md-10" id="contentToPrint">
                <h1>{{ object }}</h1>
                <div class="d-flex justify-content-center">
                    <i class="bi bi-filetype-pdf" onclick="Convert_HTML_To_PDF();" title="print as pdf"
                        id="pdfbutton"></i>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" id="pdfspinner" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <table class="table">

                    <tbody>
                        <tr>
                            <th>Legal System</th>
                            <td>
                                {{ object.partial_legal_system }}
                                <a href="{{ object.partial_legal_system.get_absolute_url }}">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Court</th>
                            <td>
                                {{ object.court }}
                                <a href="{{ object.court.get_absolute_url }}">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Decision</th>
                            <td>{% if object.decission_date %}{{ object.decission_date }} {% else %} not data provided {% endif %}</td>
                        </tr>
                        <tr>
                            <th title="European Case Law Identifier">ECLI</th>
                            <td>{% if object.ecli %}{{ object.ecli }}{% else %} no data provided {% endif %}</td>
                        </tr>
                        <tr>
                            <th>Eurotort number</th>
                            <td>{{ object.id }}</td>
                        </tr>
                    </tbody>
                </table>
                <dl>
                    <dt>Keywords</dt>
                    {% for x in object.keyword.all %}
                    <dd class="ms-5 fs-5"><span class="badge rounded-pill text-bg-primary ">{{ x.name }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}

                    <dt>Tags</dt>
                    {% for x in object.tag.all %}
                    <dd class="ms-5 fs-5"><span class="badge rounded-pill text-bg-success ">{{ x }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}

                    {% if object.related_decision.all %}
                    <dt>Related Cases</dt>
                    {% for x in object.related_decision.all %}
                    <dd class="ms-5 fs-5"><span class="badge rounded-pill text-bg-warning ">{{ x }}</span> <a
                            href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
                    {% endfor %}
                    {% endif %}

                </dl>
                <p>{{ object }}</p>

                <h3>{{ object.short_description|safe }}</h3>
                <h3>Facts</h3>
                <p>{{ object.situation|safe }}</p>
                <h3>Decision</h3>
                <p>{{ object.motto|safe }}</p>
                <h3>Commentary</h3>
                {% if object.commentary %}
                <p>{{ object.commentary|safe }}</p>
                {% else %}
                <p>For commentary visit <a href="{{ object.year_book_title.doi }}">{{ object.year_book_title}} {{
                        object.year_book_issue }}</a></p>
                {% endif %}
                {% if object.additional_information %}
                <h3>Additional Information</h3>
                <p>{{ object.additional_information|safe }}</p>
                {% endif %}
                {% if object.location %}
                <h3>Reported in</h3>
                <p>{{ object.location|safe }}</p>
                {% endif %}
                <hr>
                <h2>Authors</h2>
                {% for x in object.author.all %}
                <p>{{ x }} <a href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></p>
                {% endfor %}

                <h2>Bibliographic Source</h2>
                <p>{{ object.year_book_title}} {{ object.year_book_issue }} <a href="{{ object.year_book_title.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></p>
                <h2>Eurotort reference</h2>
                <p>Eurotort no. {{ object.id }}</p>
                <small>updated: {{ object.modified_date }}</small>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer">
        <div class="float-end">
            <a href="{{ object.get_delete_url }}">
                <i class="bi bi-trash3" title="delete entry"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts2 %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>

    // Convert HTML content to PDF
    window.jsPDF = window.jspdf.jsPDF;
    function Convert_HTML_To_PDF() {
        $("#pdfspinner").css("display", "block")
        $("#pdfbutton").css("display", "none")
        var doc = new jsPDF();

        // Source HTMLElement or a string containing HTML.
        var elementHTML = document.querySelector("#contentToPrint");

        doc.html(elementHTML, {
            callback: function (doc) {
                doc.save('eurotort-doc-{{ object.id}}.pdf');
                $("#pdfspinner").css("display", "none")
                $("#pdfbutton").css("display", "block")
            },
            fontSize: 6,
            autoSize: true,
            margin: [10, 10, 10, 10],
            autoPaging: 'text',
            x: 0,
            y: 0,
            width: 190, //target width in the PDF document
            windowWidth: 675 //window width in CSS pixels
        });
    }
</script>

{% endblock scripts2 %}