{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
<div class="container">
    <h2 class="pb-2 pt-2 fs-4">Inroduction</h2>
    <p class="ps-5">
        {% if object.introduction %}
        {{ object.introduction }}
        {% else %}
        no introduction provided yet
        {% endif %}
    </p>
    {% if object.part_of %}
    <h2 class="pb-2 pt-2 fs-4">Part of</h2>
    <p class="ps-5">
        <a href="{{ object.part_of.get_absolute_url }}">{{ object.part_of }}</a>
    </p>
    {% endif %}
    {% if object.rvn_keyword_part_of_keyword.all %}
    <h2 class="pb-2 pt-2 fs-4">has Children</h2>
    <ul>
        {% for x in object.rvn_keyword_part_of_keyword.all %}
        <li>
            <span class="badge rounded-pill text-bg-primary"><a href="{{ x.get_absolute_url }}">{{ x.name }}</a></span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if object.see_also.all %}
    <h2 class="pb-2 pt-2 fs-4">Related keyword(s)</h2>
    <ul>
        {% for x in object.see_also.all %}
        <span class="badge rounded-pill text-bg-primary ">{{ x.name }}</span>
        <a href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% with courtdecissions=cases %}
    <h2 class="pb-2 pt-2 fs-4">{{ courtdecissions.count }} cases</h2>
    {% include 'archiv/partials/case_dl.html' %}
    {% endwith %}
    {% if user.is_authenticated %}
    <div class="float-end">
        <a href="{{ object.get_delete_url }}">
            <i class="bi bi-trash3" title="delete entry"></i>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}