{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}

<div class="card">
    <div class="card-header">
        {% include 'archiv/partials/detailview_title.html' %}
    </div>
    <div class="card-body container">
        <h2>Courts</h2>
        <p class="ps-5">
        <ul>
            {% for x in object.rvn_court_partial_legal_system_partiallegalsystem.all %}
            <li>
                {{ x }}
                <a href="{{ x.get_absolute_url }}">
                    <i class="bi bi bi-link-45deg"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
        </p>

        {% with courtdecissions=object.rvn_courtdecission_partial_legal_system_partiallegalsystem %}
        <h2>{{ courtdecissions.count }} related Court Decissions</h2>
        {% include "archiv/partials/courtdecission_table.html" %}
        {% endwith %}
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer">
        <div class="float-end">
            <a href="{{ object.get_delete_url }}">
                <i class="bi bi-trash3" title="delete entry"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
{% block scripts2 %}
{% include "archiv/partials/courtdecission_table_js.html" %}
{% endblock scripts2 %}