{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
<div class="container">
    <h2 class="pb-2 pt-2 fs-4">Courts</h2>
    <p class="ps-5">
    <ul>
        {% for x in object.rvn_court_partial_legal_system_partiallegalsystem.all %}
            {% if x.is_high_court %}
            <li>
                <img src="{% static 'webpage/images/crown.gif' %}" class="highCourtImage" alt="Highest court"><a href="{{ x.get_absolute_url }}">{{ x }} {% if x.name_english %}({{ x.name_english }}){% endif %}{% if x.abbreviation %}, {{ x.abbreviation }}{% endif %}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% for x in object.rvn_court_partial_legal_system_partiallegalsystem.all %}
            {% if not x.is_high_court %}
            <li>
                <a href="{{ x.get_absolute_url }}">{{ x }} {% if x.name_english %}({{ x.name_english }}){% endif %}{% if x.abbreviation %}, {{ x.abbreviation }}{% endif %}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </p>
    {% if object.link_to_legal_db %}
        <h2 class="pb-2 pt-2 fs-4">Legal database</h2>
        <p class="ps-5">
            <a href="{{ object.link_to_legal_db}}">{{ object.link_to_legal_db}}</a>
        </p>
    {% endif %}

    {% with courtdecissions=object.rvn_courtdecission_partial_legal_system_partiallegalsystem %}
    <h2 class="p-3 text-center">
        {{ courtdecissions.count }} cases <br>
        <a type="button" class="btn btn-outline-primary mt-2" href="{% url 'archiv:courtdecission_browse' %}?partial_legal_system={{ object.id }}">
            Display in search <i class="bi bi-funnel"></i>
        </a>
    </h2>
    {% include 'archiv/partials/case_dl.html' %}
    <div class="ps-5">
        {% if user.is_authenticated %}
        <div class="float-end">
            <a href="{{ object.get_delete_url }}">
                <i class="bi bi-trash3" title="delete entry"></i>
            </a>
        </div>
        {% endif %}
    </div>
    {% endwith %}
</div>
{% endblock %}