{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
<div class="container">
    {% with courtdecissions=object.rvn_courtdecission_author_person %}
    <h2>{{ courtdecissions.count }} Edited Court Decissions</h2>
    {% include "archiv/partials/courtdecission_table.html" %}
    {% endwith %}
    {% if user.is_authenticated %}

    <div class="float-end">
        <a href="{{ object.get_delete_url }}">
            <i class="bi bi-trash3" title="delete entry"></i>
        </a>
    </div>
    {% endif %}
</div>


{% endblock %}
{% block scripts2 %}
{% include "archiv/partials/courtdecission_table_js.html" %}
{% endblock scripts2 %}