{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<!-- <div class="container"> -->
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
<div class="container">
    <dl>
        <dt>Name</dt>
        <dd class="ms-5">{{ object }}</dd>
        <dt>Legal system(s)</dt>
        {% for x in object.legal_system.all %}
        <dd class="ms-5">{{ x }} <a href="{{ x.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a></dd>
        {% endfor %}
        <dt>Contact</dt>
        <dd class="ms-5">
            {% if object.contact %}
                {{ object.contact }}
            {% else %}
                eurotort@oeaw.ac.at
            {% endif %}
        </dd>
    </dl>
    {% with courtdecissions=object.rvn_courtdecission_author_person %}
    <h2 class="pt-3">{{ courtdecissions.count }} contributed cases</h2>
    <div class="ps-5">
        <table class="table table-sm tabulatortable" id="courtdecissiontable">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Court</th>
                    <th scope="col">Case Reference</th>
                    <th scope="col">Subject matter</th>
                    <th scope="col">Keywords</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for x in courtdecissions.all %}
                <tr>
                    <td>{{ x.decission_date|date:"Y-m-d" }}</td>
                    <td>
                        {{ x.court }}
                        <a href="{{ x.court.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                    </td>
                    
                    <td scope="row"><a href="{{ x.get_absolute_url }}">{{ x.case_reference }}</a></td>
                    <td scope="row">{% if x.short_description != 'none' %}{{ x.short_description|safe }}{% endif %}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for y in x.keyword.all %}
                            <li>
                                <span class="badge rounded-pill text-bg-primary ">{{ y.name }}</span> <a
                                    href="{{ y.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endwith %}
    {% if user.is_authenticated %}

    <div class="float-end">
        <a href="{{ object.get_delete_url }}">
            <i class="bi bi-trash3" title="delete entry"></i>
        </a>
    </div>
    {% endif %}
</div>


{% endblock %}
{% block scripts2 %}
<!-- {% include "archiv/partials/courtdecission_table_js.html" %} -->
{% endblock scripts2 %}