{% extends "base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
{% include 'archiv/partials/detailview_breadcrumb.html' %}
{% include 'archiv/partials/detailview_title.html' %}
  
<div class="container">
    {% with courtdecissions=object.has_related_decisions %}
    <h2 class="pb-2 pt-2 fs-4">{{ courtdecissions.count }} cases</h2>
    {% include 'archiv/partials/case_dl.html' %}
    {% endwith %}

   

               
               
{% if user.is_authenticated %}
    <div class="float-end">
        <a href="{{ object.get_delete_url }}">
            <i class="bi bi-trash3" title="delete entry"></i>
        </a>
    </div>
{% endif %}
{% endblock %}