{% load webpage_extras %}
{% load static %}

<footer class="py-3">
  <div class="container text-center">
    <div class="d-flex align-items-center gap-2 border-bottom pb-3 mb-4" style="color: #444;"><i class="bi bi-chat"
        style="font-size: 1.125rem;"></i><span class="fw-medium" style="font-size: 0.875rem;">Kontakt</span></div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <div><a href="https://www.oeaw.ac.at/acdh/acdh-home">
          <img class="footerlogo" src="{% static 'webpage/images/acdh-logo-with-text-color.svg' %}" alt="ACDH logo"></a></div>
        <div class="text-center p-4">
          ACDH Austrian Centre for Digital Humanities Österreichische
          Akademie der Wissenschaften
          <br><a href="mailto:acdh-helpdesk@oeaw.ac.at">acdh-helpdesk@oeaw.ac.at</a>
        </div>
      </div>
      <div class="col col-lg-4"></div>
      <div class="col col-lg-4">
        <div>
          <a href="https://www.oeaw.ac.at/etl"><img
              class="footerlogo" src="{% static 'webpage/images/etl-logo.svg' %}"
              alt="Institute for European Tort Law (ETL) logo"></a>
        </div>
        <div class="text-center p-4">
          Institute for European Tort Law (ETL) of the Austrian Academy of Sciences and the University of Graz
          <br><a href="mailto:etl@oeaw.ac.at">etl@oeaw.ac.at</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="{% projects_metadata 'github' %}">
      <i aria-hidden="true" class="bi bi-github fs-2"></i>
      <span class="visually-hidden">GitHub repo</span>
    </a>
  </div>
  <div class="text-end me-5">
    {% if user.is_authenticated %}
    <a href="{% url 'webpage:user_logout' %}"><i class="bi bi-person-check fs-2"><span
                class="visually-hidden">Click to log out</span></i></a>
    {% else %}
    <a href="{% url 'webpage:user_login' %}"><i class="bi bi-box-arrow-in-right fs-2"><span
                class="visually-hidden">Click to log in</span></i></a>
    {% endif %}
  </div>
</footer>