{% load static %}
{% load webpage_extras %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">EUROTORT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Info
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:staticpage' template='about' %}">About the project</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:data_model' %}">Data Model</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'webpage:staticpage' template='imprint' %}">Imprint</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Browse
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'archiv:courtdecission_browse' %}">Cases</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:court_browse' %}">Courts</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:partiallegalsystem_browse' %}">Legal
                                    systems</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:keyword_browse' %}">Keywords</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:tag_browse' %}">Tags</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:yearbook_browse' %}">Bibliographic
                                    items</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'archiv:person_browse' %}">Authors</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form method="get" action="{% url 'archiv:courtdecission_browse' %}">
                    <div class="input-group">
                        <input type="text" class="form-control"
                            placeholder="search e.g. 'Liability'"
                            aria-label="search e.g. 'Liability'" aria-describedby="basic-addon2"
                            {% if query_string %} value="{{ query_string }}" {% endif %} required name="ft_search">
                        <button class="btn btn-block btn-lg btn-primary" type="submit" id="basic-addon2">
                            <i class="bi bi-search">
                                <span class="visually-hidden">Click to search</span>
                            </i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>