.courtdecissioncart {
  position: relative;
}

nav[data-toggle="toc"] .nav .nav {
  display: block;
}

dd {
  padding-left: 1.5rem;
  margin-bottom: 0.3;
  break-inside: avoid;
}

dt {
  break-inside: avoid;
}

a {
  color: inherit;
  text-decoration: underline dotted;
}

a:hover {
  color: inherit;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.footerlogo {
  height: 60px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--bs-body-bg) !important;
  border: 1px solid var(--bs-body-bg) !important;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

@media (min-width: 576px) {
  .multi-column-dl {
    column-count: 2;
    column-gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .multi-column-dl {
    column-count: 3;
    column-gap: 2rem;
  }
}
.multi-column-dl dt {
  break-after: avoid;
}

.case-detail-dd {
  margin-bottom: 0.1rem;
  padding-left: 0;
}

.dd-final {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.dl-wrapper {
  display: inline-block;
}