<dl class="multi-column-dl">
{% for x in courtdecissions.all %}
<dt>
    <a href="{{ x.get_absolute_url }}">{{ x.case_reference }}</a>
</dt>
<dd class="court-detail-dd"><a href="{{ x.court.get_absolute_url }}">{{ x.court.name_and_ecli }}</a>{% if x.decission_date %}, {{ x.proper_date_format }}{% endif %}</dd>
{% if x.short_description %}
<dd class="court-detail-dd">{{ x.short_description|safe }}</dd>
{% endif %}
<dd class="court-detail-dd">{% for y in x.keyword.all %}
    <span class="badge rounded-pill text-bg-primary "><a href="{{ y.get_absolute_url }}">{{ y }}</a></span>{% endfor %}
</dd>
<dd class="court-detail-dd dd-final">{% for y in x.tag.all %}
    <span class="badge rounded-pill text-bg-success "><a href="{{ y.get_absolute_url }}">{{ y }}</a></span>{% endfor %}
</dd>
{% endfor %}
</dl>