<div class="ps-5" style="height:600px"">
    <table class="table table-sm tabulatortable" id="courtdecissiontable" style="display: none;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Court</th>
                <th scope="col">Country</th>
                <th scope="col">Legal System</th>
                <th scope="col">Keywords</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for x in courtdecissions.all %}
            <tr>
                <td scope="row"><a href="{{ x.get_absolute_url }}">{{ x.id }}</a></td>
                <td>
                    {{ x.court }}
                    <a href="{{ x.court.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                </td>
                <td>
                    {{ x.country }}
                    <a href="{{ x.country.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                </td>
                <td>
                    {{ x.partial_legal_system }}
                    <a href="{{ x.partial_legal_system.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                </td>
                <td>
                    <ul class="list-unstyled">
                        {% for y in x.keyword.all %}
                        <li>
                            <span class="badge rounded-pill text-bg-primary ">{{ y }}</span> <a
                                href="{{ y.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                        </li>
                        {% endfor %}
                    </ul>

                </td>
                <td>{{ x.decission_date|date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>