<div class="ps-5">
    <table class="table table-sm" id="courtdecissiontable" style="display: none;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Court</th>
                <th scope="col">Keywords</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for x in courtdecissions %}
            <tr>
                <td scope="row"><a href="{{ x.get_absolute_url }}">{{ x.id }}</a></td>
                <td>{{ x.court }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for y in x.keyword.all %}
                        <li>
                            <span class="badge rounded-pill text-bg-primary ">{{ y }}</span> <a
                                href="{{ y.get_absolute_url }}"><i class="bi bi-link-45deg"></i></a>
                        </li>
                        {% endfor %}
                    </ul>

                </td>
                <td>{{ x.decission_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>