<div class="row">
    <div class="col-md-2">
        {% if user.is_authenticated %}
        {% if object.get_prev %}
        <p class="text-start">
            <a href="{{ object.get_prev }}">
                <i class="bi bi-chevron-left" title="previous entry"></i>
            </a>
        </p>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-md-8">
        <h1 class="text-center">
            <small><a href="{{ object.get_listview_url }}"><i class="bi bi-list"
                        title="back to list view"></i></a></small>
            {{ object }}
            {% if user.is_authenticated %}
            <small>
                <a href="{{ object.get_edit_url }}">
                    <i class="bi bi-pencil-square" title="edit entry"></i>
                </a>
            </small>
            {% endif %}

        </h1>
    </div>
    <div class="col-md-2">
        {% if user.is_authenticated %}
        {% if object.get_prev %}
        <p class="text-end">
            
            <a href="{{ object.get_next }}">
                <i class="bi bi-chevron-right" title="next entry"></i>
            </a>
        </p>
        {% endif %}
        {% endif %}
    </div>
</div>