<div class="modal" id="searchInfoModal" tabindex="-1" aria-labelledby="searchInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="searchInfoModalLabel">Search information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>With this search, you can quickly browse through all our cases. Here are a few tips that will make it easier for you:
            <ul>
                <li>The search is designed as a full-text search. Your term will be searched for in the head note, the facts and the decision text.</li>
                <li>Terms in inverted commas (eg: <i>'medical error'</i>) are searched for together.</li>
                <li><i>medical error</i> finds all cases in which either <i>medical</i> or <i>error</i> appears</li>
                <li>A * at the end of a search term serves as a wildcard. share* also finds cases with shareholder, for example.</li>
            </ul>
          </p>
          <p>You can narrow down your search by using the additional filter options of our <a href="{% url 'archiv:courtdecission_browse' %}">advanced search</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>